[user]
	email = 72784429+GereonV@users.noreply.github.com
	name = Gereon V
	signingKey = ~/.ssh/id_ed25519.pub
[core]
	editor = nvim
[alias]
	egc = config --global --edit
	l = log --all --oneline --graph
	fa = fetch --all --tags --prune
	pr = pull --rebase
	pushf = push --force-with-lease
	co = checkout
	s = status -s
	aa = add --all
	ci = commit
	ca = commit --all
	ae = commit --amend
	ane = commit --amend --no-edit
	rb = rebase -i
	wta = worktree add
	wtr = worktree remove
	wtl = worktree list
	sm = submodule
[init]
	defaultBranch = master
[merge]
	tool = nvimdiff
[rebase]
	updateRefs = true
	autosquash = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[submodule]
	# always pull with `--recurse-submodules` (but not clone)
	# this acts as if you run `git submodule update --init --recursive` after each pull
	recurse = true
[push]
	default = upstream
	recurseSubmodules = check
[diff]
	submodule = log
