[user]
	email = 72784429+GereonV@users.noreply.github.com
	name = Gereon V
	signingKey = ~/.ssh/id_ed25519.pub
[core]
	editor = nvim
[alias]
	l = log --all --oneline --graph
	pushf = push --force-with-lease
	fa = fetch --all --tags --prune
[init]
	defaultBranch = master
[merge]
	tool = nvimdiff
[rebase]
	updateRefs = true
	autosquash = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
