[user]
	email = 72784429+GereonV@users.noreply.github.com
	name = Gereon V
[core]
	editor = vim
[alias]
	l = log --all --oneline --graph
	pushf = push --force-with-lease
[init]
	defaultBranch = master
[merge]
	tool = vimdiff
[gpg]
	format = ssh
[commit]
	gpgsign = true
